%ul.house_list
  - @num=0
  - @houses.each do |house|
    %li
      %span.i1
        = @num;@num+=1;
      .fl
        %div
          %strong
            = link_to house.name,"/house_#{house.to_pinyin_param}/#{house.id.to_s}"
          %br
          %span
            %strong 位置：
            = house.local
          %br
          %span
            %strong 类型：
            = house.kind
          %br
          %span
            %strong 价格：
            = house.price   
        = link_to image_tag(house.logo.url(:normal),:border => 0, :title=>house.name),"/house_#{house.to_pinyin_param}/#{house.id.to_s}"
    .line2 
