#footer
  .footer_line
  %ul
    %li= link_to "广告服务"
    %li= "|"
    %li= link_to "会员服务" 
    %li= "|"
    %li= link_to "在线投稿"
    %li= "|"
    %li= link_to "意见反馈"
    %li= "|"
    %li= link_to "联系我们","/contact"
    %li= "|"
    %li= link_to "链接申请"
  .copyright
    &copy;2012 ccsm.com.cn Inc.All rights reserved. <br /> 北京巨合联佳商务咨询有限公司 版权所有
  %address 联系电话：010-88696702  传真：010-88696701 <br />办公地址：北京市石景山路甲18号万达广场E座1606室 邮政编码：100040
