= simple_form_for(@ad,:html=>{:class=>'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :startdate
    = f.input :enddate
    = f.input :listorder
    = f.input :disabled
    = f.association :ad_space,:collection => AdSpace.all,:prompt => "选择广告位" 
    = f.input :poster,:as=>"file"
  .form-actions
    = f.button :submit
