
%table.table.table-striped
  %thead
    %tr
      %th 广告名称
      %th 广告位 
      %th 开始投放时间
      %th 结束投放时间
      %th 显示次数
      %th 点击次数
      %th 顺序
      %th 是否启用
      %th
      %th
      %th
  %tbody
    - @ads.each do |ad|
      %tr
        %td= ad.name
        %td= ad.ad_space.name
        %td= ad.startdate
        %td= ad.enddate
        %td= ad.hits
        %td= ad.clicks
        %td= ad.listorder
        %td= if ad.disabled==false then "启用" else "未启用" end
        %td= link_to '显示', ad
        %td= link_to '编辑', edit_ad_path(ad)
        %td= link_to '删除', ad, :confirm => '确定删除?', :method => :delete

