- unless notice.nil?
  %p
    .alert.alert-success#notice= notice

%p
  %b 广告名称:
  = @ad.name
%p
  %b 开始时间:
  = @ad.startdate
%p
  %b 结束时间:
  = @ad.enddate
%p
  %b 点击数:
  = @ad.hits
%p
  %b 显示顺序:
  = @ad.listorder
%p
  %b 是否启用:
  = @ad.disabled ? "是" : "否"


= link_to '编辑', edit_ad_path(@ad)
