%p#notice= notice

%p
  %b Name:
  = @ad.name
%p
  %b Type:
  = @ad.type
%p
  %b Setting:
  = @ad.setting
%p
  %b Startdate:
  = @ad.startdate
%p
  %b Enddate:
  = @ad.enddate
%p
  %b Hits:
  = @ad.hits
%p
  %b Clicks:
  = @ad.clicks
%p
  %b Listorder:
  = @ad.listorder
%p
  %b Disabled:
  = @ad.disabled

= link_to '编辑', edit_ad_path(@ad)
