.menu
  %ul
    - if @controller_name=="homepages"&&@action_name=="home"
      %li= link_to "首页","/index",:class=>"active"
    - else
      %li= link_to "首页","/index"
    - if (@controller_name=="homepages"&&@action_name=="detail")||(@controller_name=="infopages")
      %li= link_to "资讯中心","/news",:class=>"active" 
    - else
      %li= link_to "资讯中心","/news" 
    - if @controller_name=="magazinepages"
      %li= link_to "零售世界","/magazines",:class=>"active" 
    - else
      %li= link_to "零售世界","/magazines" 
    - if @controller_name=="actionpages"
      %li= link_to "主题活动","/actions",:class=>"active" 
    - else
      %li= link_to "主题活动","/actions" 
    - if @controller_name=="landpages"
      %li= link_to "商业地产","/business",:class=>"active" 
    - else
      %li= link_to "商业地产","/business" 
    - if @controller_name=="hrpages"
      %li= link_to "人才服务","/service",:class=>"active" 
    - else
      %li= link_to "人才服务","/service" 
    - if @controller_name=="maps"
      %li= link_to "零售地图","/maps",:class=>"active" 
    - else
      %li= link_to "零售地图","/maps" 
    - if @controller_name=="memberpages"
      %li= link_to "理事单位","/members",:class=>"active" 
    - else
      %li= link_to "理事单位","/members" 
    - if @controller_name=="contact"
      %li.last= link_to "联系我们","/contact",:class=>"active"
    - else
      %li.last= link_to "联系我们","/contact"
