.menu
  %ul
    %li= link_to "首页","/index"
    %li= link_to "资讯中心","/news" 
    %li= link_to "零售世界","/magazines" 
    %li= link_to "主题活动","/actions" 
    %li= link_to "商业地产","/business" 
    %li= link_to "人才服务","/service" 
    %li= link_to "零售地图","/maps",:class=>"active" 
    %li= link_to "理事单位","/members"
    %li.last= link_to "联系我们","/contact"
