.blank5
.span12
  -#顶栏广告
  .row 
    .span12
      = render_cell :ad_list,:display,:symbol=>"ad:memberpages:A1"
  .blank5
  -#公告
  .row
    .span3
      = render_cell :topic_pool3,:display,:rendercell=>"article",:display=>"display",:symbol=>"memberpages:R1A"
      .blank5
        = link_to image_tag("joinus.jpg",:alt=>"申请加入"),"/detail/2012/10/27/268"
    .span9
      = render_cell :topic_pool2,:display,:rendercell=>"article_theme_list",:display=>"display",:symbol=>"memberpages:R1B"
  .blank5
  -#合作会员
  .row
    .span12
      = render_cell :topic_pool2,:display,:rendercell=>"member_list",:display=>"display",:symbol=>"memberpages:R2A"

