= simple_form_for(@house,:html=>{:class=>'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :local
    = f.input :price
    = f.input :kind
    = f.input :logo,:as=>:file
    = f.input :body,:as=>:kindeditor,:input_html => { :width => 800, :height => 300 } 


  .form-actions
    = f.button :submit
