= simple_form_for(@article,:html=>{:class=>'form-horizontal'}) do |f|
  = f.error_notification
  .form-inputs
    = f.input :title
    .control-group.select.required      
      %label.select.control-label.required     
        %abbr{:title=>"必填"} *
        新闻分类
      .controls
        =raw category_selects(@article.category.id,'categoryUL0')
    = hidden_field_tag :category_parent_id,@article.category.id,:name=>"category_id"

    = f.input :short_title
    = f.input :introduction
    = f.input :author
    = f.input :source
    = f.input :published
    = f.input :top
    = f.input :theme_picture,:as=>:file
    = f.simple_fields_for :article_body do |body_fields|
      = body_fields.input :body,:as=>:kindeditor,:input_html => { :width => 800, :height => 300 ,:namespace=>"article"} 

  .form-actions
    = f.button :submit
