.well
  = render :partial => "search" 
%table.table.table-striped
  %thead
    %tr
      %th 新闻分类
      %th 列表标题
      %th 来源
      %th 编者
      %th 是否置顶
      %th 点击次数
      %th 创建时间
      %th
      %th
      %th
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.category.name if article.category.present?
        %td= article.short_title
        %td= article.source
        %td= article.eidtor_name
        %td= article.top ? "置顶" : "否"
        %td= article.hits.to_s
        %td= article.created_at.to_s(:db)
        %td= link_to '显示', article
        %td= link_to '编辑', edit_article_path(article)
        %td= link_to '删除', article, :confirm => '确定删除文章?', :method => :delete
= paginate @articles 
