%p#notice= notice

%p
  %b Title:
  = @article.title
%p
  %b Short title:
  = @article.short_title
%p
  %b Introduction:
  = @article.introduction
%p
  %b Author:
  = @article.author
%p
  %b Eidtor name:
  = @article.eidtor_name
%p
  %b Source:
  = @article.source
%p
  %b 内容:
  = @article.body
= link_to '编辑新闻', edit_article_path(@article)
