%table.table.table-striped
  %thead
    %tr
      %th 企业名称
      %th 招聘职位个数 
      %th 地址
      %th 电话
      %th 联系人
      %th 电子邮件
      %th
      %th
      %th
  %tbody
    - @employing_units.each do |employing_unit|
      %tr
        %td= employing_unit.name
        %td= employing_unit.jobs.count
        %td= employing_unit.address
        %td= employing_unit.tel
        %td= employing_unit.linkman
        %td= employing_unit.email
        %td= link_to '显示', employing_unit
        %td= link_to '编辑', edit_employing_unit_path(employing_unit)
        %td= link_to '删除', employing_unit, :confirm => '确定删除吗？', :method => :delete

