= simple_form_for(@job) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :people
    = f.input :place
    = f.input :description

  .form-actions
    = f.button :submit
