= simple_form_for(@video,:html=>{:class=>'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :source
    =# f.input :body,:as=>:kindeditor,:input_html => { :width => 800, :height => 300 } 
    =# f.input :thumb,:as=>:file
    = f.input :showprimary

  .form-actions
    = f.button :submit
