%table.table.table-striped
  %thead
    %tr
      %th 视频名称
      %th 编辑姓名
      %th 点击数
      %th 图片
      %th 是否显示在一级页面
      %th
      %th
      %th
  %tbody
    - @videos.each do |video|
      %tr
        %td= video.name
        %td= video.editor
        %td= video.hits
        %td= video.thumb
        %td= video.showprimary ? "是" : "否"
        %td= link_to '显示', video
        %td= link_to '编辑', edit_video_path(video)
        %td= link_to '删除', video, :confirm => '确定删除吗？', :method => :delete

