- unless notice.nil?
  %p
    .alert.alert-success#notice= notice
%p
  %b 视频名称:
  = @video.name
%p
  %b 编辑姓名:
  = @video.editor
%p
  %embed{:src=>"#{@video.source}",:type=>"application/x-shockwave-flash",:width=>"550",:height=>"400",:autostart=>"false",:loop=>"true"}

= link_to '编辑', edit_video_path(@video)
