- unless notice.nil?
  %p
    .alert.alert-success#notice= notice
%p
  %b 视频名称:
  = @video.name
%p
  %b 编辑姓名:
  = @video.editor
%p
  %b 点击数:
  = @video.hits
%p
  %b 详情:
  =raw @video.body
%p
  %b 介绍图片:
  = image_tag @video.thumb.url(:normal)
%p
  %b 是否显示在一级页面:
  = @video.showprimary ? "是" : "否"

= link_to '编辑', edit_video_path(@video)
