= simple_form_for(@magazine,:html=>{:class=>'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :public_date
    = f.input :elecpdf,:as=>"file"
    = f.input :cover,:as=>"file"
    = f.input :remark,:input_html => { :rows=>7,:class=>'span4' }
    = f.input :body_title
    = f.input :body,:as=>:kindeditor,:input_html => { :width => 800, :height => 300 } 

  .form-actions
    = f.button :submit
