%table.table.table-striped
  %thead
    %tr
      %th 杂志封面
      %th 杂志标题
      %th 发刊日期
      %th 上传人
      %th 下载次数
      %th
      %th
      %th
  %tbody
    - @magazines.each do |magazine|
      %tr
        %td= magazine.title
        %td= magazine.public_date
        %td= magazine.user_name
        %td= magazine.download
        %td= link_to '显示', magazine
        %td= link_to '编辑', edit_magazine_path(magazine)
        %td= link_to '删除', magazine, :confirm => '确定删除吗?', :method => :delete

