- unless notice.nil?
  %p
    .alert.alert-success#notice= notice
%p
  %b 杂志名称:
  = @magazine.title
%p
  %b 发刊时间:
  = @magazine.public_date
%p
  %b 下载次数:
  = @magazine.download

= link_to '编辑上传杂志', edit_magazine_path(@magazine)
