%p#notice= notice

%p
  %b Title:
  = @magazine.title
%p
  %b Public date:
  = @magazine.public_date
%p
  %b User name:
  = @magazine.user_name
%p
  %b Download:
  = @magazine.download

= link_to '编辑上传杂志', edit_magazine_path(@magazine)
