- unless notice.nil?
  %p
    .alert.alert-success#notice= notice

%p
  %b Body:
  = @record.body
%p
  %b Formatted html:
  = @record.formatted_html
%p
  %b Field:
  = @record.field

= link_to 'Edit', edit_record_path(@record)
\|
= link_to 'Back', records_path
