- unless notice.nil?
  %p
    .alert.alert-success#notice= notice


%p
  %b 广告位名称:
  = @ad_space.name
%p
  %b 广告位标识:
  = @ad_space.symbol
%p
  %b 宽度:
  = @ad_space.width
%p
  %b 长度:
  = @ad_space.height
%p
  %b 描述:
  = @ad_space.description
%p
  %b 显示个数:
  = @ad_space.items
%p
  %b 是否启用:
  = @ad_space.disabled

= link_to '编辑', edit_ad_space_path(@ad_space)
