%p#notice= notice

%p
  %b Name:
  = @ad_space.name
%p
  %b Kind:
  = @ad_space.kind
%p
  %b Symbol:
  = @ad_space.symbol
%p
  %b Path:
  = @ad_space.path
%p
  %b Width:
  = @ad_space.width
%p
  %b Height:
  = @ad_space.height
%p
  %b Setting:
  = @ad_space.setting
%p
  %b Description:
  = @ad_space.description
%p
  %b Items:
  = @ad_space.items
%p
  %b Disabled:
  = @ad_space.disabled

= link_to '编辑', edit_ad_space_path(@ad_space)
