- unless notice.nil?
  %p
    .alert.alert-success#notice= notice


%p
  %b 链接名称:
  = @link.name
%p
  %b 链接地址:
  = @link.url
%p
  %b 链接LOGO:
  = image_tag @link.logo.url(:normal),:alt=>@link.name
%p
  %b 描述:
  = @link.description
%p
  %b 显示顺序:
  = @link.listorder
%p
  %b 是否启用:
  = @link.disabled ? "是" : "否"

= link_to '编辑', edit_link_path(@link)
