.blank5
.span12
  -#顶栏广告
  .row 
    .span12
      = render_cell :ad_list,:display,:symbol=>"ad:homepages:A1"
  .blank5
  -#第一屏新闻
  .row
    .span4
      = render_cell :carousel,:display,:symbol=>"homepages:carousel"
      .blank5
      = render_cell :topic_pool5,:display,:rendercell=>"article_top",:display=>"display",:symbol=>"homepages:R1C",:name=>"热点新闻",:link=>""
    .span5
      = render_cell :topic_pool4,:display,:rendercell=>"article_summary_list",:display=>"display",:symbol=>"homepages:R1A"
    .span3
      = render_cell :topic_pool2,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"homepages:R1B",:link=>"#"
      .blank5
      = render_cell :topic_pool6,:display
      .blank5
      = render_cell :retailbutton,:display
  .blank5
  -#杂志 
  .row
    .span12
      = render_cell :topic_pool1,:display,:name=>"杂志下载",:link=>"/magazines",:rendercell=>"magazines",:display=>"display",:shownum=>6 
  .blank5
  -#中间栏广告
  .row 
    .span12
      = render_cell :ad_list,:display,:symbol=>"ad:homepages:A2"
  .blank5
  -#第二屏新闻
  .row
    .span8
      = render_cell :topic_pool1,:display,:name=>"零售专题",:link=>"/magazines",:rendercell=>"article_theme_list",:display=>"display",:symbol=>"homepages:R2A"
    .span4
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"homepages:R2B"
  .blank5 
  -#第三屏新闻
  .row
    .span4
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"homepages:R3A"
    .span4
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"homepages:R3B"
    .span4
      = render_cell :topic_pool2,:display,:rendercell=>"video_view",:display=>"display",:link=>"/videos",:name=>"视频中心",:ename=>"Video"
  .blank5 
  -#图库
  .row
    .span12
      = render_cell :topic_pool1,:display,:name=>"图库",:link=>"#",:rendercell=>"gallery",:display=>"display",:symbol=>"homepages:gallery" 
  .blank5 
  -#广告
  .row
    .span12
      = render_cell :ad_list,:display,:symbol=>"ad:homepages:A3"
  .blank5 
  -#第四屏新闻
  .row
    .span4
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"homepages:R4A"
    .span4
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"homepages:R4B"
    .span4
      = render_cell :topic_pool2,:display,:rendercell=>"map_guide",:display=>"display",:link=>"/maps",:name=>'零售地图',:ename=>"map"
  .blank5 
  -#第五屏新闻
  .row
    .span4
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"homepages:R5A"
    .span4
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"homepages:R5B"
    .span4
      = render_cell :topic_pool2,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"homepages:R5C",:link=>"#"
  .blank5 
  -#广告
  .row
    .span12
      = render_cell :ad_list,:display,:symbol=>"ad:homepages:A4"
  .blank5 
  -#友情链接
  .row
    .span12
      = render_cell :topic_pool7,:display,:name=>"友情链接",:rendercell=>"links",:display=>"display" 
  %br

