.blank5
.span12
  -#顶栏广告
  .row 
    .span12
      =image_tag @ad.poster.url  if @ad.present?
  .blank5
  -#物业管理
  .row
    .span3
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"landpages:R1A",:link=>"#"
      .blank5
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"landpages:R1B",:link=>"#"
    .span6
      = render_cell :topic_pool10,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"landpages:R1C",:link=>"#"
      .blank5
      = render_cell :topic_pool9,:display,:rendercell=>"magazines",:display=>"guidance",:shownum=>4,:name=>"往期杂志"

    .span3
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"landpages:R1D",:link=>"#"
      .blank5
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"landpages:R1E",:link=>"#"
      .blank5
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"landpages:R1F",:link=>"#"
  .blank5
  -#中介服务
  .row
    .span6
      = render_cell :topic_pool2,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"landpages:R2A",:link=>"#"
    .span6
      = render_cell :topic_pool10,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"landpages:R2B",:link=>"#"




