.blank5
.span12
  -#顶栏广告
  .row 
    .span12
      = render_cell :ad_list,:display,:symbol=>"ad:landpages:A1"
  .blank5
  -#物业管理
  .row
    .span4
      = render_cell :topic_pool3,:display,:rendercell=>"investment_list",:display=>"display",:symbol=>"landpages:R1A",:link=>"#",:name=>"招商项目",:ename=>""
      .blank5
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"landpages:R1B",:link=>"#"
    .span5
      = render_cell :topic_pool10,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"landpages:R1C",:link=>"#"
      .blank5
      = render_cell :topic_pool9,:display,:rendercell=>"house_list",:symbol=>"landpages:R1G",:display=>"display",:name=>"地产项目"
    .span3
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"landpages:R1D",:link=>"#"
      .blank5
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"landpages:R1E",:link=>"#"
      .blank5
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"landpages:R1F",:link=>"#"
  .blank5
  -#中介服务
  .row
    .span6
      = render_cell :topic_pool2,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"landpages:R2A",:link=>"#"
    .span6
      = render_cell :topic_pool10,:display,:rendercell=>"biz_list",:display=>"display",:symbol=>"landpages:R2B",:link=>"#"




