= simple_form_for(@picture,:html=>{:class=>'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :style
    = f.input :description,:input_html => {:rows=>7,:class=>'span6'} 
    = f.input :listorder
    = f.input :status
    = f.input :url
    = f.association :pic_space
    .control-group.select      
      %label.select.control-label 图片分类
      .controls
        =raw category_selects(@picture.category.id,'categoryUL0')
    = hidden_field_tag :category_parent_id,@picture.category.id,:name=>"category_id"

    = f.input :picture,:as=>"file"
  .form-actions
    = f.button :submit
