%table.table.table-striped
  %thead
    %tr
      %th 图片名称
      %th 图片
      %th 图片位置
      %th 图片描述
      %th 顺序
      %th 状况
      %th 上传人
      %th 链接地址
      %th
      %th
      %th
  %tbody
    - @pictures.each do |picture|
      %tr
        %td= picture.title
        %td= image_tag picture.picture.url(:thumb) if picture.picture.present?
        %td= picture.pic_space.name
        %td= picture.description
        %td= picture.listorder
        %td= picture.status
        %td= picture.user_name
        %td= picture.url
        %td= link_to '显示', picture
        %td= link_to '编辑', edit_picture_path(picture)
        %td= link_to '删除', picture, :confirm => '确定删除吗？', :method => :delete


