%h1 Listing pictures

%table
  %tr
    %th Title
    %th Style
    %th Description
    %th Listorder
    %th Status
    %th User name
    %th Url
    %th
    %th
    %th

  - @pictures.each do |picture|
    %tr
      %td= picture.title
      %td= picture.style
      %td= picture.description
      %td= picture.listorder
      %td= picture.status
      %td= picture.user_name
      %td= picture.url
      %td= link_to 'Show', picture
      %td= link_to 'Edit', edit_picture_path(picture)
      %td= link_to 'Destroy', picture, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Picture', new_picture_path
