- unless notice.nil?
  %p
    .alert.alert-success#notice= notice


%p
  %b 图片标题:
  = @picture.title
%p
  %b 图片描述:
  = @picture.description
%p
  %b 显示顺序:
  = @picture.listorder
%p
  %b 状况:
  = @picture.status
%p
  %b 上传人:
  = @picture.user_name
%p
  %b 链接地址:
  = @picture.url
%p
  %b 图片位置
  = @picture.pic_space.name
%p
  %b 图片分类
  = @picture.category.name
%p
  %b 图片
  =image_tag @picture.picture.url



= link_to '编辑', edit_picture_path(@picture)
