.blank5
.span12
  -#顶栏广告
  .row 
    .span12
      = render_cell :ad_list,:display,:symbol=>"ad:infopages:A1"
  .blank5
  -#热点
  .row
    .span3
      = render_cell :topic_pool2,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"infopages:R1A",:link=>"#"
    .span6
      = render_cell :topic_pool10,:display,:rendercell=>"article_summary_list",:display=>"display",:symbol=>"infopages:R1B"
    .span3
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"infopages:R1C",:link=>"#"
  .blank5
  -#零售专题
  .row
    .span3
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"infopages:R2A",:link=>"#"
      .blank5
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"infopages:R2B",:link=>"#"
      .blank5
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"infopages:R2C",:link=>"#"
    .span6
      = render_cell :topic_pool2,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"infopages:R2D",:link=>"#"
      .blank5
      = render_cell :topic_pool2,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"infopages:R2E",:link=>"#"
    .span3
      = render_cell :topic_pool2,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"infopages:R2F",:link=>"#"
      .blank5
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"infopages:R2G",:link=>"#"
      .blank5
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"infopages:R2H",:link=>"#"



