= simple_form_for(@pic_space,:html=>{:class=>'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :symbol
    = f.input :maxnum

  .form-actions
    = f.button :submit
