%h1 Listing pic_spaces

%table
  %tr
    %th Name
    %th Symbol
    %th Maxnum
    %th
    %th
    %th

  - @pic_spaces.each do |pic_space|
    %tr
      %td= pic_space.name
      %td= pic_space.symbol
      %td= pic_space.maxnum
      %td= link_to 'Show', pic_space
      %td= link_to 'Edit', edit_pic_space_path(pic_space)
      %td= link_to 'Destroy', pic_space, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Pic space', new_pic_space_path
