%table.table.table-striped
  %thead
    %tr
      %th 图片位名称
      %th 图片位标识
      %th 最多显示个数
      %th
      %th
      %th
  %tbody
    - @pic_spaces.each do |pic_space|
      %tr
        %td= pic_space.name
        %td= pic_space.symbol
        %td= pic_space.maxnum
        %td= link_to '显示', pic_space
        %td= link_to '编辑', edit_pic_space_path(pic_space)
        %td= link_to '删除', pic_space, :confirm => '确定删除吗？', :method => :delete


