- unless notice.nil?
  %p
    .alert.alert-success#notice= notice


%p
  %b 图片位置名称:
  = @pic_space.name
%p
  %b 唯一标识:
  = @pic_space.symbol
%p
  %b 最多显示数目:
  = @pic_space.maxnum

= link_to '编辑', edit_pic_space_path(@pic_space)
