= simple_form_for(@enterprise,:html=>{:class=>'form-horizontal'}) do |f|
  = f.input :name
  = f.input :province 
  = f.input :city
  = f.input :store_name
  = f.input :address
  = f.input :longitude
  = f.input :latitude 
  = f.input :tel 
  = f.input :kind 
  = f.input :remark,:input_html=>{:rows=>5}
  = f.button :submit
