.blank5
.span12
  -#顶栏广告
  .row 
    .span12
      =image_tag @ad.poster.url  if @ad.present?
  .blank5
  -#热门招聘
  .row
    .span9
      = render_cell :topic_pool2,:display,:rendercell=>"employing_unit",:display=>"display",:symbol=>"hrpages:R1A",:link=>"#",:name=>"招聘单位"
    .span3
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"hrpages:R1B",:link=>"#"
  .blank5
  -#简历中心
  .row
    .span12
      = render_cell :topic_pool10,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"hrpages:R2A",:link=>"#"

  .blank5
  -#求职指南
  .row
    .span4
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"hrpages:R3A",:link=>"#"
    .span4
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"hrpages:R3B",:link=>"#"
    .span4
      = render_cell :topic_pool2,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"hrpages:R3C",:link=>"#"

