
%table.table.table-striped
  %thead
    %tr
      %th 分类名称
      %th 英文名称
      %th 分类标识
      %th 下一级分类
      %th 所有父分类
      %th
      %th
      %th
  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.ename
        %td= category.symbol
        %td= category.get_children_nodes.collect{|node| node[1] }.join(",")
        %td= Category.get_node_names(category.arrparentid).gsub(/,/,'/')
        %td= link_to '显示', category
        %td= link_to '编辑', edit_category_path(category)
        %td= link_to '删除', category, :confirm => '确定删除该分类(属于该分类的所有新闻也被删除)?', :method => :delete



