.blank5
.span12
  -#顶栏广告
  .row 
    .span12
      = render_cell :ad_list,:display,:symbol=>"ad:magazinepages:A1"
  .blank5
  -#在线阅读
  .row
    .span9
      = render_cell :topic_pool2,:display,:rendercell=>"magazines",:display=>"display",:symbol=>"magazinepages:R1B" 
    .span3
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"magazinepages:R1A"
  .blank5
  -#往期杂志
  .row
    .span3
      = render_cell :retailbutton,:display
    .span6
      = render_cell :topic_pool9,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"magazinepages:R2A"
    .span3
      = render_cell :topic_pool3,:display,:rendercell=>"article",:display=>"display",:symbol=>"magazinepages:R2B"
  -#团队剪影
  .blank5
  .row
    .span9
      = render_cell :topic_pool1,:display,:rendercell=>"picshow",:display=>"display",:symbol=>"magazinepages:R3A"
    .span3
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"magazinepages:R3B"


