= simple_form_for(@resume,:html=>{:class=>'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :gender
    = f.input :birth
    = f.input :credential
    = f.input :phone
    = f.input :email
    = f.input :evaluation,:input_html=>{:rows=>7,:class=>"span8"}
    = f.input :body,:input_html=>{:rows=>14,:class=>"span8"}

  .form-actions
    = f.button :submit
