%table.table.table-striped
  %thead
    %tr
      %th 姓名
      %th 性别
      %th 出生日期
      %th 证件号码
      %th 电话
      %th 电子邮件
      %th
      %th
      %th
  %tbody
    - @resumes.each do |resume|
      %tr
        %td= resume.name
        %td= resume.gender
        %td= resume.birth
        %td= resume.credential
        %td= resume.phone
        %td= resume.email
        %td= link_to '显示', resume
        %td= link_to '编辑', edit_resume_path(resume)
        %td= link_to '删除', resume, :confirm => '确定删除吗？', :method => :delete

