- unless notice.nil?
  %p
    .alert.alert-success#notice= notice
%p
  %b 姓名:
  = @resume.name
%p
  %b 性别:
  = @resume.gender
%p
  %b 出生日期:
  = @resume.birth
%p
  %b 证件号码:
  = @resume.credential
%p
  %b 手机:
  = @resume.phone
%p
  %b 电子邮件:
  = @resume.email
%p
  %b 个人评价:
  = @resume.evaluation
%p
  %b 简历:
  .wikistyle= raw @resume.formatted_html

= link_to '编辑', edit_resume_path(@resume)
