.blank5
.span12
  -#顶栏广告
  .row 
    .span12
      = render_cell :ad_list,:display,:symbol=>"ad:homepages:A1"
  .blank5
  .row
    .span9
      = render_cell :topic_pool2,:display,:rendercell=>"article_pic_list",:display=>"display",:symbol=>"contactpages:R2A"
      .blank5
      = render_cell :topic_pool2,:display,:rendercell=>"article_pic_list",:display=>"display",:symbol=>"contactpages:R2B"
      .blank5
      = render_cell :topic_pool2,:display,:rendercell=>"article_pic_list",:display=>"display",:symbol=>"contactpages:R2C"
    .span3
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"contactpages:R1A"
      .blank5
      = render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"contactpages:R1B"


