!!!
%html 
  %head
    %title 超商网管理页面
    = stylesheet_link_tag "application",:media=>"all"
    = javascript_include_tag "application"
    = csrf_meta_tags           
  %body
    .navbar
      .navbar-inner            
        .container             
          %a{:class=>"btn btn-navbar","data-toggle"=>"collapse","data-target"=>".nav-collapse"}
            %span.icon-bar     
            %span.icon-bar     
            %span.icon-bar     
          %a.brand CMSS     
          .nav-collapse.collapse          
            %ul.nav
              - if controller_name=="enterprises"   
                %li.active     
                  %a{:href=>"/manage/enterprises"} 企业地图        
              - else           
                %li            
                  %a{:href=>"/manage/enterprises"} 企业地图
              - if controller_name=="records"
                %li.active
                  %a{:href=>"/manage/contact"} 系统管理
              - else
                %li
                  %a{:href=>"/manage/contact"} 系统管理
              - if controller_name=="categories"||controller_name=="articles"
                %li.active
                  %a{:href=>"/manage/categories"} 新闻发布        
              - else
                %li
                  %a{:href=>"/manage/categories"} 新闻发布        
  

            %ul.nav.pull-right 
              %li.divider-vertical            
              %li
                = link_to("退出",destroy_user_session_path,:method=>"DELETE")
    .container-fluid 
      .row-fluid
        .span2
          = render_cell :menu,:show,:controller_name=>controller_name,:action_name=>action_name

        .span10
 
          = yield
 
