
%table.table.table-striped
  %thead
    %tr
      %th 理事单位名称
      %th 企业LOGO
      %th 电话
      %th 传真
      %th 地址
      %th 网站
      %th 等级
      %th
      %th
      %th
  %tbody
    - @members.each do |member|
      %tr
        %td= member.name
        %th= image_tag member.logo.url(:thumb)
        %td= member.tel
        %td= member.fax
        %td= member.address
        %td= member.web
        %td= member.level
        %td= link_to '显示', member
        %td= link_to '编辑', edit_member_path(member)
        %td= link_to '删除', member, :confirm => '确定删除吗？', :method => :delete

