- unless notice.nil?
  %p
    .alert.alert-success#notice= notice

%p
  %b 理事单位名称:
  = @member.name
%p
  %b 电话:
  = @member.tel
%p
  %b 传真:
  = @member.fax
%p
  %b 地址:
  = @member.address
%p
  %b 网站:
  = @member.web
%p
  %b 等级:
  = @member.position

= link_to '编辑', edit_member_path(@member)
